body {
    background-color: #009688;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12vmin; /* Adjust font size to fit viewport width */
    font-weight: bold;
    color: #000;
    text-align: center;
    margin-top: 30vh; /* Adjust margin from top */
    text-transform: uppercase;
    
}

#square {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    background-color: #fff;
    animation: bounce 8s infinite;
    animation-timing-function: ease-in-out;
}

@keyframes bounce {
    0%,
    100% {
        top: 0;
        left: 0;
    }
    25% {
        top: 0;
        left: calc(100% - 50px);
    }
    50% {
        top: calc(100% - 50px);
        left: calc(100% - 50px);
    }
    75% {
        top: calc(100% - 50px);
        left: 0;
    }
}

#textbox-container {
    text-align: center;
    margin-top: 5vh; /* Adjust margin from top */
}

#textbox {
    display: inline-block;
    padding: 10px;
    background-color: #FFF; /* White background for textbox */
    color: #000; /* Black text color */
    cursor: pointer;
    animation: shake 2s infinite; /* Apply animation to the textbox */
}

@keyframes shake {
    0% {
        transform: rotate(5deg); /* Rotate clockwise */
    }
    50% {
        transform: rotate(-5deg); /* Rotate counterclockwise */
    }
    100% {
        transform: rotate(5deg); /* Rotate clockwise */
    }
}